h2{
  color: grey;
  padding-left: 10px;
}

.add{
  color: grey;
  padding-left: 10px;
}

footer{
  background-color: black;
  color: gainsboro;
  text-align: center;
  padding: 10px;
}

h1{
  padding-left: 10px;
  background-color: gainsboro;
  margin: 0px;
  padding: 10px;
}

.imgborder{
  margin-left: 10px;
  border-color: black;
  border-width: 3px;
  border-style: solid;
}

p{
  padding-left: 10px;
}

form{
  padding-left:10px;
}

.foot{
  padding-left: 0px;
  margin-left: 0px;
}

em{
  color: grey;
}

.back{
  background-color: gainsboro;
  margin-bottom: 0px;
}


